cache
CrashLog/
backups/
brushes/
curves/
dynamics/
environ/
filters/
fonts/
fractalexplorer/
gfig/
gflare/
gimpressionist/
gradients/
icons/
internal-data/
interpreters/
levels/
modules/
palettes/
patterns/
plug-ins/gmic_gimp_qt/
templates/
tmp/
Themes/
tool-options/
tool-presets/
action-history
colorrc
contextrc
controllerrc
devicerc
dockrc
gimprc
gtkrc
menurc
parasiterc
unitrc
toolrc
plug-ins/lisez-moi.txt
plug-ins/plugin-heal-selection.py
plug-ins/plugin-heal-transparency.py
plug-ins/plugin-map-style.py
plug-ins/plugin-render-texture.py
plug-ins/plugin-resynth-enlarge.py
plug-ins/plugin-resynth-fill-pattern.py
plug-ins/plugin-resynth-sharpen.py
plug-ins/plugin-uncrop.py
plug-ins/README_WINDOWS.txt
plug-ins/resynthesizer-gui.exe
plug-ins/resynthesizer.exe
plug-ins/export-layer.py
plug-ins/jpeg-to-xcf.py
plug-ins/save-to.py
plug-ins/import_text.py
plug-ins/resynthesizer
plug-ins/resynthesizer_gui
plug-ins/test_colorpicker.py
scripts/.DS_Store
plug-ins/.DS_Store
scripts/desktop.ini
.DS_Store
.*
pluginrc
profilerc
sessionrc
tags.xml
templaterc
themerc
*.settings
*script-test*
