
unitrc
toolrc
tool-options/gimp-smudge-tool
tool-options/gimp-rotate-tool
tool-options/gimp-scale-tool
tool-options/gimp-shear-tool
tool-options/gimp-text-tool
tool-options/gimp-threshold-tool
tool-options/gimp-unified-transform-tool
tool-options/gimp-vector-tool
tool-options/gimp-warp-tool
tool-options/gimp-zoom-tool
tool-options/gimp-rect-select-tool
tool-options/gimp-perspective-tool
tool-options/gimp-perspective-clone-tool
tool-options/gimp-pencil-tool
tool-options/gimp-paintbrush-tool
tool-options/gimp-operation-tool
tool-options/gimp-mypaint-brush-tool
tool-options/gimp-move-tool
tool-options/gimp-measure-tool
tool-options/gimp-levels-tool
tool-options/gimp-iscissors-tool
tool-options/gimp-ink-tool
tool-options/gimp-heal-tool
tool-options/gimp-handle-transform-tool
tool-options/gimp-gradient-tool
tool-options/gimp-gegl-tool
tool-options/gimp-fuzzy-select-tool
tool-options/gimp-free-select-tool
tool-options/gimp-foreground-select-tool
tool-options/gimp-flip-tool
tool-options/gimp-eraser-tool
tool-options/gimp-ellipse-select-tool
tool-options/gimp-dodge-burn-tool
tool-options/gimp-curves-tool
tool-options/gimp-crop-tool
tool-options/gimp-convolve-tool
tool-options/gimp-color-picker-tool
tool-options/gimp-clone-tool
tool-options/gimp-cage-tool
tool-options/gimp-by-color-select-tool
tool-options/gimp-bucket-fill-tool
tool-options/gimp-brightness-contrast-tool
tool-options/gimp-align-tool
tool-options/gimp-airbrush-tool
action-history
colorrc
contextrc
controllerrc
devicerc
dockrc
gimprc
gtkrc
internal-data/custom.ggr
menurc
parasiterc
plug-ins/gmic_gimp_qt/gmic_gimp_qt.exe
plug-ins/gmic_gimp_qt/libfftw3-3.dll
plug-ins/gmic_gimp_qt/libicudt61.dll
plug-ins/gmic_gimp_qt/libicuin61.dll
plug-ins/gmic_gimp_qt/libicuuc61.dll
plug-ins/gmic_gimp_qt/libpcre2-16-0.dll
plug-ins/gmic_gimp_qt/platforms/qdirect2d.dll
plug-ins/gmic_gimp_qt/platforms/qminimal.dll
plug-ins/gmic_gimp_qt/platforms/qoffscreen.dll
plug-ins/gmic_gimp_qt/platforms/qwebgl.dll
plug-ins/gmic_gimp_qt/platforms/qwindows.dll
plug-ins/gmic_gimp_qt/Qt5Core.dll
plug-ins/gmic_gimp_qt/Qt5Gui.dll
plug-ins/gmic_gimp_qt/Qt5Network.dll
plug-ins/gmic_gimp_qt/Qt5Widgets.dll
plug-ins/gmic_gimp_qt/uninst/unins000.dat
plug-ins/gmic_gimp_qt/uninst/unins000.exe
plug-ins/lisez-moi.txt
plug-ins/plugin-heal-selection.py
plug-ins/plugin-heal-transparency.py
plug-ins/plugin-map-style.py
plug-ins/plugin-render-texture.py
plug-ins/plugin-resynth-enlarge.py
plug-ins/plugin-resynth-fill-pattern.py
plug-ins/plugin-resynth-sharpen.py
plug-ins/plugin-uncrop.py
plug-ins/README_WINDOWS.txt
plug-ins/resynthesizer-gui.exe
plug-ins/resynthesizer.exe
pluginrc
profilerc
sessionrc
tags.xml
templaterc
themerc
palettes/CF-256.gpl
filters/GimpGegl-gegl-cartoon-config.settings
*.settings
plug-ins/export-layer.py
plug-ins/jpeg-to-xcf.py
plug-ins/save-to.py
