
unitrc
toolrc
palettes/
tool-options/
tool-presets/
fonts/
action-history
colorrc
contextrc
controllerrc
devicerc
dockrc
gimprc
gtkrc
internal-data/custom.ggr
menurc
parasiterc
plug-ins/gmic_gimp_qt/gmic_gimp_qt.exe
plug-ins/gmic_gimp_qt/libfftw3-3.dll
plug-ins/gmic_gimp_qt/libicudt61.dll
plug-ins/gmic_gimp_qt/libicuin61.dll
plug-ins/gmic_gimp_qt/libicuuc61.dll
plug-ins/gmic_gimp_qt/libpcre2-16-0.dll
plug-ins/gmic_gimp_qt/platforms/qdirect2d.dll
plug-ins/gmic_gimp_qt/platforms/qminimal.dll
plug-ins/gmic_gimp_qt/platforms/qoffscreen.dll
plug-ins/gmic_gimp_qt/platforms/qwebgl.dll
plug-ins/gmic_gimp_qt/platforms/qwindows.dll
plug-ins/gmic_gimp_qt/Qt5Core.dll
plug-ins/gmic_gimp_qt/Qt5Gui.dll
plug-ins/gmic_gimp_qt/Qt5Network.dll
plug-ins/gmic_gimp_qt/Qt5Widgets.dll
plug-ins/gmic_gimp_qt/uninst/unins000.dat
plug-ins/gmic_gimp_qt/uninst/unins000.exe
plug-ins/lisez-moi.txt
plug-ins/plugin-heal-selection.py
plug-ins/plugin-heal-transparency.py
plug-ins/plugin-map-style.py
plug-ins/plugin-render-texture.py
plug-ins/plugin-resynth-enlarge.py
plug-ins/plugin-resynth-fill-pattern.py
plug-ins/plugin-resynth-sharpen.py
plug-ins/plugin-uncrop.py
plug-ins/README_WINDOWS.txt
plug-ins/resynthesizer-gui.exe
plug-ins/resynthesizer.exe
pluginrc
profilerc
sessionrc
tags.xml
templaterc
themerc
filters/GimpGegl-gegl-cartoon-config.settings
*.settings
plug-ins/export-layer.py
plug-ins/jpeg-to-xcf.py
plug-ins/save-to.py
plug-ins/import_text.py
